* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(img/bgimg.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  width: 90%;
  margin: 0 auto;
  border-bottom: 0.5px solid #e2e2e2;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  padding: 1rem;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #46be46;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand h2 {
  color: #46be46;
  padding: 8px;
}

.navbar-brand h2 span {
  color: green;
}

.cuerpo {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.grid {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  overflow: hidden;
  margin-bottom: 3rem;
}

.grid__text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.grid__text .menu {
  font-size: 1.2rem;
  color: #000;
  opacity: 0;
}

.grid__text .menu i {
  padding: 10px;
  color: #ec760b;
}

.grid__text .menu1 {
  -webkit-animation: menu1 1s 1s ease forwards;
          animation: menu1 1s 1s ease forwards;
}

@-webkit-keyframes menu1 {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

@keyframes menu1 {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

.grid__text .menu2 {
  -webkit-animation: menu2 1s 1.5s ease forwards;
          animation: menu2 1s 1.5s ease forwards;
}

@-webkit-keyframes menu2 {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

@keyframes menu2 {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

.grid__text .menu3 {
  -webkit-animation: menu3 1s 2s ease forwards;
          animation: menu3 1s 2s ease forwards;
}

@-webkit-keyframes menu3 {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

@keyframes menu3 {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

.grid__text .menu4 {
  -webkit-animation: menu4 1s 2.5s ease forwards;
          animation: menu4 1s 2.5s ease forwards;
}

@-webkit-keyframes menu4 {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

@keyframes menu4 {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

.grid__text div {
  width: 400px;
  text-align: center;
  margin-top: 2rem;
}

.grid__text div a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
  width: 90px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background-color: #ec760b;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.grid__text div a:hover {
  background-color: #faa556;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.grid::before {
  content: "";
  grid-column: 4/-1;
  grid-row: 1/-1;
  background-image: url(img/grid.jpg);
  background-size: cover;
  background-position: center;
}

.grid__text--title {
  font-size: 3rem;
  color: #000;
  width: 400px;
  text-align: center;
  -webkit-animation: Dtitle 1s ease forwards;
          animation: Dtitle 1s ease forwards;
}

@-webkit-keyframes Dtitle {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes Dtitle {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.grid__text--p {
  font-size: 1.6rem;
  color: #ff7b00;
  width: 400px;
  text-align: center;
  -webkit-animation: Dtext 1s .4s ease forwards;
          animation: Dtext 1s .4s ease forwards;
  opacity: 0;
}

@-webkit-keyframes Dtext {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

@keyframes Dtext {
  from {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
  .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    -webkit-animation: nav 1s both;
            animation: nav 1s both;
    opacity: 0;
  }
  @-webkit-keyframes nav {
    to {
      -webkit-transform: unset;
              transform: unset;
      opacity: 1;
    }
  }
  @keyframes nav {
    to {
      -webkit-transform: unset;
              transform: unset;
      opacity: 1;
    }
  }
  .navbar {
    width: 100%;
    top: 0;
  }
  .navbar-brand h2 {
    font-size: 1rem;
  }
  .boton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cuerpo {
    width: 100%;
  }
  .grid::before {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
  }
  .grid__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
  }
  .grid__text--title {
    font-size: 1.5rem;
    width: 200px;
  }
  .grid__text--p {
    font-size: 1rem;
    width: 200px;
    background-color: #edd2b8;
  }
  .grid__text div {
    width: 300px;
  }
  .text {
    width: 100%;
    height: 150px;
    text-align: center;
  }
  .container {
    height: auto;
  }
  .container__cards {
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.seccion__serv {
  width: 100%;
  background-color: #fff;
}

.seccion__serv h2 {
  text-align: center;
}

.seccion__serv p {
  text-align: center;
}

.article-semanal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article-semanal .menu-semanal {
  height: 480px;
  width: 320px;
  margin: 1rem;
  border-radius: 8px;
}

.article-semanal .menu-semanal i {
  font-size: 2rem;
  width: 300px;
  height: 100px;
  text-align: center;
  background-color: #fff;
  -webkit-clip-path: circle(26.1% at 51% 0);
          clip-path: circle(26.1% at 51% 0);
}

.article-semanal .menu-semanal h3 {
  padding: 7px;
  text-align: center;
}

.article-semanal .menu-semanal p {
  padding: 7px;
}

.article-semanal .menu-semanal__color1 {
  background-color: #d7fdef;
}

.article-semanal .menu-semanal__color2 {
  background-color: #faded4;
}

.article-semanal .menu-semanal__color3 {
  background-color: #ffa3a3;
}

.article-semanal .linea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-semanal .linea .linea__center {
  height: 5px;
  width: 60px;
  background-color: #000;
  border-radius: 8px;
  margin: 1rem;
}

.article-semanal .linea .linea__center--color1 {
  background-color: #62ffc6;
}

.article-semanal .linea .linea__center--color2 {
  background-color: #ff966f;
}

.article-semanal .linea .linea__center--color3 {
  background-color: #fd5b5b;
}

.seccion__viandas {
  width: 100%;
  height: auto;
  padding: 3rem;
}

.seccion__viandas h2 {
  text-align: center;
  font-size: 3rem;
  padding-top: 1rem;
}

.viandasFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.viandasFlex .viandasimg {
  background-color: rgba(214, 214, 214, 0.5);
  margin: 3rem;
  width: 420px;
  height: 530px;
  text-align: center;
  border-radius: 8px;
}

.viandasFlex .viandasimg img {
  width: 400px;
  height: 400px;
  margin-top: 10px;
  border-radius: 8px;
}

.viandasFlex h4, .viandasFlex p {
  width: 400px;
}

.seccion__opiniones {
  width: 100%;
  height: auto;
}

.seccion__opiniones h2 {
  text-align: center;
  padding: 1rem;
  font-size: 2.5rem;
}

.opinionesFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opinion {
  width: 200px;
  height: 200px;
  background-color: #f5f5f5;
  margin: 1rem;
  -webkit-box-shadow: 3px 3px 8px #3b3b3b;
          box-shadow: 3px 3px 8px #3b3b3b;
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
  .seccion__serv {
    padding-top: 2rem;
  }
  .article-semanal .menu-semanal {
    width: 300px;
    height: 400px;
  }
  .seccion__viandas h2 {
    font-size: 1.5rem;
  }
  .viandasFlex .viandasimg {
    width: 320px;
    height: 450px;
  }
  .viandasFlex .viandasimg img {
    width: 300px;
    height: 300px;
  }
  .viandasFlex h4, .viandasFlex p {
    width: 300px;
  }
  .seccion__opiniones h2 {
    font-size: 1.5rem;
  }
}

.seccion__nosotros {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5rem;
}

.seccion__nosotros .info {
  width: 500px;
  padding: 2rem;
}

.seccion__nosotros .info .info__quiensoy {
  font-size: 3rem;
}

.seccion__nosotros .info .info__estudios {
  font-size: 2.2rem;
}

.seccion__nosotros .info h3 {
  color: #ff7b00;
}

.seccion__nosotros .info p {
  font-size: 1.2rem;
}

.seccion__nosotros .info p i {
  padding: 8px;
  font-size: 15px;
  color: #ec760b;
}

.seccion__nosotros .foto img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
  .seccion__nosotros .info {
    width: 300px;
    padding: 0;
  }
  .seccion__nosotros .foto img {
    width: 250px;
    height: 250px;
  }
}

.seccion__contacto {
  width: 90%;
  height: auto;
  margin: 2rem auto;
  background-color: #fce3cd;
}

.seccion__contacto h3 {
  font-size: 2.3rem;
  text-align: center;
  padding: 1rem;
}

.seccion__contacto p {
  font-size: 1.8rem;
  text-align: center;
}

.seccion__contacto .wpp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.seccion__contacto .wpp h4 {
  color: #fff;
  width: 180px;
  text-align: center;
  border: 1px solid #46be46;
  border-radius: 20px;
  background-color: #46be46;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.seccion__contacto .wpp i {
  color: #fff;
  font-size: 2rem;
  padding: 8px;
}

.wpp h4:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #1bbb1b;
}

.redes {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.redes a i {
  color: #000;
  font-size: 2rem;
  padding: 1rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.redes i:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
  text-shadow: 2px 2px 7px black;
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
  .seccion__contacto h3 {
    font-size: 2rem;
  }
  .seccion__contacto p {
    font-size: 1.5rem;
  }
  .redes {
    width: 300px;
  }
}

footer {
  background-color: #ff7b00;
  text-align: center;
}

footer p {
  font-size: 1.5rem;
  padding: 10px;
}

footer i {
  font-size: 2rem;
  padding: 10px;
}

footer .up {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 100px;
  border: solid 3px #000;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 7px #000;
          box-shadow: 2px 2px 7px #000;
}

footer .up i {
  font-size: 1rem;
  color: #000;
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
  footer p {
    font-size: 1rem;
  }
  footer i {
    font-size: 1.5rem;
  }
  footer .up {
    right: 10px;
    height: 35px;
    width: 35px;
  }
  footer .up i {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */